@mixin linear-gradient-hor($from, $to) {
  background-color: $to;
  
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(left, $from, $to);
  background-image: -moz-linear-gradient(left, $from, $to);
  background-image: -ms-linear-gradient(left, $from, $to);
  background-image: -o-linear-gradient(left, $from, $to);
  background-image: linear-gradient(left, right, $from, $to);
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin box-max-size() {
    @include box-sizing(border-box);
    width: 100%;
    height: 100%;
}

.box-max-size {
  @include box-max-size();
}

// vim: et ts=2 sts=2 sw=2
