@mixin linear-gradient-hor($from, $to) {
  background-color: $to;
  
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(left, $from, $to);
  background-image: -moz-linear-gradient(left, $from, $to);
  background-image: -ms-linear-gradient(left, $from, $to);
  background-image: -o-linear-gradient(left, $from, $to);
  background-image: linear-gradient(left, right, $from, $to);
}

@mixin linear-gradient($args) {
  background-image: -webkit-linear-gradient($args);
  background-image: -moz-linear-gradient($args);
  background-image: -ms-linear-gradient($args);
  background-image: -o-linear-gradient($args);
  background-image: linear-gradient($args);
}

@mixin radial-gradient($args) {
  background-image: -webkit-radial-gradient($args);
  background-image: radial-gradient($args);
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin box-max-size() {
    @include box-sizing(border-box);
    width: 100%;
    height: 100%;
}

.box-max-size {
  @include box-max-size();
}

@mixin make-inner-box($padding: 0) {
    @include box-sizing(border-box);
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        top: $padding;
        bottom: $padding;
        left: $padding;
        right: $padding;

        content: "";

        z-index: -1;
    }
}

@mixin animation-duration($arg) {
    -moz-animation-duration: $arg;
    -webkit-animation-duration: $arg;
}

@mixin animation-name($arg) {
    -moz-animation-name: $arg;
    -webkit-animation-name: $arg;
}

@mixin transform-animation($name, $from, $to) {
    @-moz-keyframes $name {
        from {
            -moz-transform: $from;
        }
        to {
            -moz-transform: $to;
        }
    }

    @-webkit-keyframes $name {
        from {
            -webkit-transform: $from;
        }
        to {
            -webkit-transform: $to;
        }
    }
}

@include transform-animation(slide_down, translateY(-100%), translateY(0));
@include transform-animation(slide_up, translateY(100%), translateY(0));
@include transform-animation(slide_context, translate(-100%, -100%), translate(0, 0));

// vim: et ts=2 sts=2 sw=2
