.office {
    .rebar .band {
        .menu-bar {
            float: left;
            width: auto;
            & > li {
                padding: 2px 5px;
            }
        }
    }

    ul.toolbar > li {
        @mixin sprite($x, $y) { // local function
            @include sprite-image((-16px * $x), (-128px - 16px * $y));
        }
        &[data-icon="new"           ]:before { @include sprite( 0, 0); }
        &[data-icon="open"          ]:before { @include sprite( 1, 0); }
        &[data-icon="save"          ]:before { @include sprite( 2, 0); }
        &[data-icon="email"         ]:before { @include sprite( 3, 0); }
        &[data-icon="print"         ]:before { @include sprite( 4, 0); }
        &[data-icon="search"        ]:before { @include sprite( 5, 0); }
        &[data-icon="spell-check"   ]:before { @include sprite( 6, 0); }
        &[data-icon="cut"           ]:before { @include sprite( 7, 0); }
        &[data-icon="copy"          ]:before { @include sprite( 8, 0); }
        &[data-icon="paste"         ]:before { @include sprite( 9, 0); }
        &[data-icon="painter"       ]:before { @include sprite(10, 0); }
        &[data-icon="undo"          ]:before { @include sprite(11, 0); }
        &[data-icon="redo"          ]:before { @include sprite(12, 0); }
        &[data-icon="link"          ]:before { @include sprite( 0, 1); }
        &[data-icon="table-toolbar" ]:before { @include sprite( 1, 1); }
        &[data-icon="table"         ]:before { @include sprite( 2, 1); }
        &[data-icon="excel"         ]:before { @include sprite( 3, 1); }
        &[data-icon="column"        ]:before { @include sprite( 4, 1); }
        &[data-icon="drawing"       ]:before { @include sprite( 5, 1); }
        &[data-icon="map"           ]:before { @include sprite( 6, 1); }
        &[data-icon="mark"          ]:before { @include sprite( 7, 1); }
        &[data-icon="help"          ]:before { @include sprite( 8, 1); }
        &[data-icon="bold"          ]:before { @include sprite( 9, 1); }
        &[data-icon="italic"        ]:before { @include sprite(10, 1); }
        &[data-icon="underlined"    ]:before { @include sprite(11, 1); }
        &[data-icon="left"          ]:before { @include sprite( 0, 2); }
        &[data-icon="center"        ]:before { @include sprite( 1, 2); }
        &[data-icon="right"         ]:before { @include sprite( 2, 2); }
        &[data-icon="justify"       ]:before { @include sprite( 3, 2); }
        &[data-icon="ol"            ]:before { @include sprite( 4, 2); }
        &[data-icon="ul"            ]:before { @include sprite( 5, 2); }
        &[data-icon="outdent"       ]:before { @include sprite( 6, 2); }
        &[data-icon="indent"        ]:before { @include sprite( 7, 2); }
        &[data-icon="border"        ]:before { @include sprite( 8, 2); }
        &[data-icon="highlight"     ]:before { @include sprite( 9, 2); }
        &[data-icon="font-color"    ]:before { @include sprite(10, 2); }
    }
}

.office.word {
    .title-bar .title-icon {
        background-image: url(images/sprite.png);
        background-position: -176px -32px;
    }

    min-width: 330px;
    min-height: 220px;
    padding-bottom: 100px;  // XXX
    > .window-content {
        position: relative;
        height: 100%;
        @include sunken-control();
        background-color: #808080;
        > .stretch {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: scroll;
            > .ruler-wrapper {
                min-width: 770px;
                position: relative;
                > .top-ruler {
                    @include box-sizing(border-box);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 24px;
                    background-color: #C0C0C0;
                    z-index: 1;
                    .ruler {
                        margin: 5px 5px 5px 24px;
                        height: 13px;
                        background-image: url(images/word_hr.gif);
                        background-repeat: repeat-x;
                    }
                    > .button {
                        float: left;
                        margin: 3px;
                        width: 17px;
                        height: 17px;
                        padding: 3px;
                        @include make-inner-box();
                        border-top: 1px solid $color-border-shadow;
                        border-left: 1px solid $color-border-shadow;
                        border-right: 1px solid $color-border-shadow;
                        border-bottom: 1px solid $color-border-highlight;
                        &:before {
                            border-top: 1px solid $color-border-highlight;
                            border-left: 1px solid $color-border-highlight;
                            border-bottom: 1px solid $color-border-shadow;
                        }
                        .mode {
                            width: 10px;
                            height: 10px;
                            background-image: url(images/sprite.png);
                            background-position: -246px -61px;
                        }
                    }
                }
                > .left-ruler {
                    position: absolute;
                    top: 24px;
                    left: 0;
                    bottom: 0;
                    width: 24px;
                    background-color: #C0C0C0;
                    .ruler {
                        margin: 5px;
                        width: 13px;
                        height: 100%;
                        background-image: url(images/word_vr.gif);
                        background-repeat: repeat-y;
                    }
                }
                > .content-wrapper {
                    padding-top: 24px + 24px;
                    padding-bottom: 24px;
                    > .content {
                        margin: 0 auto;
                        @include box-sizing(border-box);
                        width: 770px;
                        min-height: 1000px;
                        border: 1px solid black;
                        padding: 35px;
                        background: #FFF;
                        @include user-select(text);
                        * {
                            @include user-select(text);
                            font-family: "Times New Roman", "바탕", serif;
                            font-size: 11pt;
                        }
                        h1, h2, h3, h4, h5, h6 {
                            font-family: Arial, sans-serif;
                            font-weight: bold;
                            margin: 1em 0 0.5em;
                        }
                        h1 {
                            font-size: 18pt;
                        }
                        h2 {
                            font-size: 16pt;
                        }
                        h3 {
                            font-size: 14pt;
                            font-style: italic;
                        }
                        h4 {
                            font-size: 13pt;
                        }
                        li {
                            margin-left: 3.5em;
                            padding-left: 0.5em;
                        }
                        dd {
                            margin-left: 3em;
                        }
                        a {
                            color: #0000EE;
                            text-decoration: underline;
                            cursor: pointer;
                            &:visited {
                                color: #551A8B;
                            }
                            &:active {
                                color: #FF0000;
                            }
                        }
                    }
                }
            }
        }
    }
}
