// terminology from WinAPI functions: DrawEdge, GetSysColor
// $color-face
// $color-border-highlight
// $color-border-light
// $color-border-shadow
// $color-border-darkshadow

@mixin border-common() {
    border-width: 1px;
    border-style: solid;
}

@mixin border-raised-inner() {
    @include border-common();
    border-color: $color-border-highlight $color-border-shadow $color-border-shadow $color-border-highlight;
}

@mixin border-sunken-inner() {
    @include border-common();
    border-color: $color-border-darkshadow $color-border-light $color-border-light $color-border-darkshadow;
}

@mixin border-raised-outer() {
    @include border-common();
    border-color: $color-border-light $color-border-darkshadow $color-border-darkshadow $color-border-light;
}

@mixin border-sunken-outer() {
    @include border-common();
    border-color: $color-border-shadow $color-border-highlight $color-border-highlight $color-border-shadow;
}

@mixin raised-control() {
    background-color: $color-face;

    @include border-raised-outer();

    @include make-inner-box();
    &:before {
        @include border-raised-inner();
    }
}

@mixin sunken-control() {
    @include border-sunken-outer();

    @include make-inner-box();
    &:before {
        @include border-sunken-inner();
    }
}

@mixin raised-taskbar-button() {
    background-color: $color-face;

    @include border-common();
    border-color: $color-border-highlight $color-border-darkshadow $color-border-darkshadow $color-border-highlight;

    @include make-inner-box();
    &:before {
        @include border-common();
        border-color: $color-border-light $color-border-shadow $color-border-shadow $color-border-light;
    }
}

@mixin sunken-taskbar-button() {
    background-color: $color-face;

    @include border-common();
    border-color: $color-border-darkshadow $color-border-highlight $color-border-highlight $color-border-darkshadow;

    @include make-inner-box();
    &:before {
        @include border-common();
        border-color: $color-border-shadow $color-border-light $color-border-light $color-border-shadow;
    }
}
