$title-height: 18px;
$menubar-height: 18px;

@mixin system-font() {
    font-family: "굴림", "Gulim", "Tahoma", sans-serif;
    font-size: 9pt;
}

body {
    @include system-font();
}

* {
    cursor: default;
}

#taskbar {
    @include make-inner-box();
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 28px + 1px;

    background-color: $color-face;
    border-top: 1px solid $color-border-light;
    &:before {
        border-top: 1px solid $color-border-highlight;
    }
    padding-top: 1px;

    .task {
        float: left;
        margin: 2px 3px;
        width: 160px;
        max-width: 160px;
        height: 22px;
        @include raised-taskbar-button();
        padding: (1px + 1px) (3px + 1px) 1px;

        &:active {
            @include sunken-taskbar-button();
            padding: (1px + 1px) (3px + 1px) 1px;
        }
        &.selected {
            @include sunken-taskbar-button();
            padding: (1px + 1px) (3px + 1px) 1px;
            background-image: url(images/checkerboard.gif);
            font-weight: bold;
        }

        img {
            float: left;
        }
        span {
            float: left;
            margin-top: 2px;
        }
    }
}

div#start {
    float: left;
    margin: 2px;

    @include raised-taskbar-button();
    padding: 3px 3px 0;
    &:active {
        @include sunken-taskbar-button();
        padding: 3px 3px 0;
    }

    span {
        &:before {
            content: url(images/win95.gif);
            float: left;
            margin: 0 3px;
        }
        font-weight: bold;
    }
}

div#notification_area {
    float: right;
    margin: 2px;
    padding: 5px 11px 4px;
    @include border-sunken-outer();
}

.window {
    @include raised-control();

    // 2px: default padding area
    // 1px: due to :before border
    padding: 3px+$title-height 3px 3px 3px;

    &.maximized {
        border: 0;
        padding: $title-height 0 0 0;

        &:before {
            border: 0;
        }
    }

    &.has-menu {
        padding-top: 3px+$title-height+$menubar-height;
        .title-bar {
            margin-top: -($title-height+$menubar-height);
        }
        ul.menu-bar {
            display: block;

            @include box-sizing(border-box);
            padding: 1px 0;
            margin: 0;
            height: $menubar-height;
            width: 100%;

            & > li {
                @include system-font();
                list-style-type: none;
                display: block;
                float: left;
                padding: 0 7px;

                &:after {
                    content: "(" attr(data-access-key) ")";
                    text-transform: uppercase;
                }

                &:active {
                    background-color: rgb(0, 0, 128);
                }
            }
        }
    }
}

ul.menu {
    display: block;
    @include box-sizing(border-box);
    @include raised-control();

    width: 182px; // arbitrary
    padding: 2px; // arbitrary
    & > li {
        @include system-font();
        list-style-type: none;
        display: block;
        padding: 2px 16px; // arbitrary

        &[data-popup]:after {
            content: "...";
        }

        &:not(.separator):hover {
            background-color: rgb(0, 0, 128);
            color: white;
        }

        &.default {
            font-weight: bold;
        }

        &.disabled {
            color: $color-border-shadow;
            text-shadow: $color-border-highlight 1px 1px;
            &:hover {
                color: $color-border-shadow;
                text-shadow: none;
            }
        }

        &.separator {
            padding: 0;
            margin: 4px 0;
            width: 100%;

            border-top: 1px solid $color-border-shadow;
            border-bottom: 1px solid $color-border-highlight;
        }
    }
}
$title-button-group-width: 16px + 16px + 2px + 16px + 2px;

.title-bar {
    padding-left: 20px;
    padding-right: $title-button-group-width;

    height: $title-height;
    margin-top: -$title-height;

    .title-icon {
        float: left;
        width: 20px;
        height: $title-height;
        margin-left: -20px;

        background-color: $color-active-title;
    }
    .title {
        float: left;
        height: $title-height;
        width: 100%;
        overflow: hidden;

        font-weight: bold;
        color: white;

        @include linear-gradient-hor($color-active-title, $color-gradient-active-title);
    }
    .title-button-group {
        float: left;
        margin-right: -$title-button-group-width;
        width: $title-button-group-width;

        padding: 2px 0;

        background-color: $color-gradient-active-title;

        .title-button {
            float: left;

            border-width: 1px;
            border-style: solid;
            border-color: $color-border-highlight $color-border-darkshadow $color-border-darkshadow $color-border-highlight;

            background-color: $color-face;

            width: 16px;
            height: 14px;
            @include make-inner-box();
            &:before {
                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: $color-border-highlight $color-border-shadow $color-border-shadow $color-border-highlight;
            }

            &:active {
                background-position: 1px 1px;
                border-color: $color-border-darkshadow $color-border-highlight $color-border-highlight $color-border-darkshadow;
                &:before {
                    border-width: 1px 0 0 1px;
                    border-color: $color-border-shadow $color-border-highlight $color-border-highlight $color-border-shadow;
                }
            }

            &.minimize {
                background-image: url(images/minimize.png);
            }
            &.maximize {
                margin-right: 2px;
                background-image: url(images/maximize.png);

                &.disabled {
                    background-image: url(images/maximize_dis.png);
                }
            }
            &.close {
                background-image: url(images/close.png);
            }
        }
    }
}

.edit {
    @include sunken-control();
    background-color: white;
    cursor: text;

}

