$title-height: 18px;
$menubar-height: 18px;

@mixin system-font() {
    font-family: "굴림", "Gulim", "Tahoma", sans-serif;
    font-size: 9pt;
}

* {
    @include system-font();
    cursor: default;
    // disable highlighting selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 0;
    margin: 0;
}

.desktop {
    background-color: $color-desktop-background;

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}

.taskbar {
    @include make-inner-box();
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 28px + 1px;

    background-color: $color-face;
    border-top: 1px solid $color-border-light;
    &:before {
        border-top: 1px solid $color-border-highlight;
    }
    padding-top: 1px;

    .task {
        float: left;
        margin: 2px 3px;
        width: 160px;
        max-width: 160px;
        height: 22px;
        @include raised-taskbar-button();
        padding: (1px + 1px) (3px + 1px) 1px;

        &:active {
            @include sunken-taskbar-button();
            padding: (1px + 1px) (3px + 1px) 1px;
        }
        &.selected {
            @include sunken-taskbar-button();
            padding: (1px + 1px) (3px + 1px) 1px;
            background-image: url(images/checkerboard.gif);
            font-weight: bold;
        }

        img {
            float: left;
        }
        span {
            float: left;
            margin-top: 2px;
        }
    }
}

div.start {
    float: left;
    margin: 2px;

    @include raised-taskbar-button();
    padding: 3px 4px 0 1px;
    &.pressed {
        @include sunken-taskbar-button();
    }

    &:after {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;

        content: "";

        z-index: -2;
    }
    &.selected:after {
        border: 1px dotted black;
    }

    span {
        &:before {
            content: url(images/win95.gif);
            float: left;
            margin: 0 3px;
        }
        font-weight: bold;
    }
}

.start_menu {
    position: absolute;
    left: 2px;
    @include transform(translateY(-100%));

    .menu {
        padding-left: 21px + 2px;
        div.decorator {
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            width: 21px;
            background-color: rgb(0, 0, 120); // XXX
            z-index: 0;
            &:before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 21px;
                height: 108px;
                background-image: url(images/sprite.png);
                background-position: -224px 0;
                z-index: 1;
                content: "";
            }
        }

        & > li:not(.separator) {
            padding: 9px 16px 9px 32px + 9px; // XXX
            position: relative;
            &:before {
                position: absolute;
                left: 2px;
                top: 0;
                width: 32px;
                height: 32px;
                background-image: url(images/sprite.png);
                content: "";
            }
            &[data-icon="programs"  ]:before { background-position:    0      0;    }
            &[data-icon="favorites" ]:before { background-position:  -32px    0;    }
            &[data-icon="documents" ]:before { background-position:  -64px    0;    }
            &[data-icon="setting"   ]:before { background-position:  -96px    0;    }
            &[data-icon="find"      ]:before { background-position: -128px    0;    }
            &[data-icon="help"      ]:before { background-position: -160px    0;    }
            &[data-icon="run"       ]:before { background-position: -192px    0;    }
            &[data-icon="logoff"    ]:before { background-position:    0    -32px;  }
            &[data-icon="shutdown"  ]:before { background-position:  -32px  -32px;  }
        }
    }
}

div.notification_area {
    float: right;
    margin: 2px;
    padding: 5px 11px 4px;
    @include border-sunken-outer();
}

.window {
    @include raised-control();

    // 2px: default padding area
    // 1px: due to :before border
    padding: 3px+$title-height 3px 3px 3px;

    &.maximized {
        border: 0;
        padding: $title-height 0 0 0;

        &:before {
            border: 0;
        }
    }

    &.has-menu {
        padding-top: 3px+$title-height+$menubar-height;
        .title-bar {
            margin-top: -($title-height+$menubar-height);
        }
        ul.menu-bar {
            display: block;

            @include box-sizing(border-box);
            padding: 1px 0;
            margin: 0;
            height: $menubar-height;
            width: 100%;

            & > li {
                list-style-type: none;
                display: block;
                float: left;
                padding: 0 7px;

                &:after {
                    content: "(" attr(data-access-key) ")";
                    text-transform: uppercase;
                }

                &:active {
                    background-color: rgb(0, 0, 128);
                }
            }
        }
    }
}

ul.menu {
    display: block;
    @include box-sizing(border-box);
    @include raised-control();

    width: 182px; // XXX: arbitrary
    margin: 0; // strip default margin
    padding: 2px; // XXX: arbitrary
    & > li {
        list-style-type: none;
        display: block;
        padding: 2px 16px; // arbitrary

        &[data-popup]:after {
            content: "...";
        }

        &:not(.separator):hover {
            background-color: rgb(0, 0, 128);
            color: white;
        }

        &.default {
            font-weight: bold;
        }

        &.disabled {
            color: $color-border-shadow;
            text-shadow: $color-border-highlight 1px 1px;
            &:hover {
                color: $color-border-shadow;
                text-shadow: none;
            }
        }

        &.separator {
            padding: 0;
            margin: 4px 0;
            width: 100%;

            border-top: 1px solid $color-border-shadow;
            border-bottom: 1px solid $color-border-highlight;
        }
    }
}

$title-button-group-width: 16px + 16px + 2px + 16px + 2px;

.title-bar {
    padding-left: 20px;
    padding-right: $title-button-group-width;

    height: $title-height;
    margin-top: -$title-height;

    .title-icon {
        float: left;
        width: 20px;
        height: $title-height;
        margin-left: -20px;

        background-color: $color-active-title;
    }
    .title {
        float: left;
        height: $title-height;
        width: 100%;
        overflow: hidden;

        font-weight: bold;
        color: white;

        @include linear-gradient-hor($color-active-title, $color-gradient-active-title);
    }
    .title-button-group {
        float: left;
        margin-right: -$title-button-group-width;
        width: $title-button-group-width;

        padding: 2px 0;

        background-color: $color-gradient-active-title;

        .title-button {
            float: left;

            border-width: 1px;
            border-style: solid;
            border-color: $color-border-highlight $color-border-darkshadow $color-border-darkshadow $color-border-highlight;

            background-color: $color-face;

            width: 16px;
            height: 14px;
            @include make-inner-box();
            &:before {
                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: $color-border-highlight $color-border-shadow $color-border-shadow $color-border-highlight;
            }

            &:active {
                background-position: 1px 1px;
                border-color: $color-border-darkshadow $color-border-highlight $color-border-highlight $color-border-darkshadow;
                &:before {
                    border-width: 1px 0 0 1px;
                    border-color: $color-border-shadow $color-border-highlight $color-border-highlight $color-border-shadow;
                }
            }

            &.minimize {
                background-image: url(images/minimize.png);
            }
            &.maximize {
                margin-right: 2px;
                background-image: url(images/maximize.png);

                &.disabled {
                    background-image: url(images/maximize_dis.png);
                }
            }
            &.close {
                background-image: url(images/close.png);
            }
        }
    }
}

ul.listview {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    .desktop > & {
        color: white;
    }

    & > li {
        list-style-type: none;
    }
}

.listview-largeicon {
    li {
        @include box-sizing(border-box);
        margin: 2px;
        width: 70px;
        height: 76px;
        padding-top: 32px + 4px;
        text-align: center;
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            left: (70px - 32px) / 2;
            width: 32px;
            height: 32px;
            background-image: url(images/sprite.png);
            content: "";
        }
        &[data-icon="my-computer"   ]:before { background-position:    0    -64px;  }
        &[data-icon="recycling-bin" ]:before { background-position:  -96px  -64px;  }

        span {
            padding: 2px;
        }

        &.selected span {
            border: 1px dotted rgb(255, 255, 127);  // inverted color
            background-color: rgb(0, 0, 128);
        }
    }
}

.edit {
    @include sunken-control();
    background-color: white;
    cursor: text;

}
