$title-height: 18px;
$menubar-height: 18px;

@mixin system-font() {
    font-family: "굴림", "Gulim", "Tahoma", sans-serif;
    font-size: 9pt;
}

@mixin item-selected() {
    background-color: rgb(0, 0, 128);
    color: white;
    & > * {
        color: white;
    }
}

@mixin sprite-image($x, $y) {
    background-image: url(images/sprite.png);
    background-position: ($x) ($y);
}

@mixin title-button-image($index) {
    @include sprite-image(-224px, (-108px - 10px*$index));
}

* {
    @include system-font();
    color: black;
    text-decoration: none;
    cursor: default;
    // disable highlighting selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

.desktop {
    background-color: $color-desktop-background;

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}

// rebar or taskbar has one or more band-lines
// band-line has one ore more bands
// band-line can be dropped out if it has only one band
.band-line {
    & > .band {
        float: left;
    }
}

.rebar {
    @include flat-sunken-control();
    padding: 1px;
    margin-bottom: 2px; // .window default padding

    .band {
        @include flat-raised-control();
    }
}

.band {
    min-height: 19px;

    padding: 2px 2px 2px (2px + 6px);
    position: relative;

    // :before is used at .taskbar>.band
    .gripper {
        @include flat-raised-control();
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        float: left;
        width: 3px;
    }
}

.taskbar {
    @include make-inner-box();
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 28px;

    background-color: $color-face;
    border-top: 1px solid $color-border-light;
    &:before {
        border-top: 1px solid $color-border-highlight;
    }
    padding-top: 1px;

    .band:before, .taskbar-notification-area:before {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 0;
        border-left: 1px solid $color-border-shadow;
        border-right: 1px solid $color-border-highlight;
        content: "";
    }

    .taskbar-notification-area {
        position: relative;
        float: right;
        padding: 2px;
    }

    .quick-launch {
        margin: 0 3px;
    }

    .task {
        float: left;
        margin: 0 3px;
        width: 160px;
        max-width: 160px;
        height: 100%;

        @include button-control();
        padding: 1px 3px 1px;

        &:active {
            @include button-control-pushed();
        }
        &.selected {
            @include button-control-pushed();
            background-image: url(images/checkerboard.gif);
            font-weight: bold;
        }

        img {
            float: left;
        }
        span {
            float: left;
            margin-top: 2px;
        }
    }
}

ul.start {
    float: left;
    & > li {
        margin: 2px;
        height: 22px;

        padding: 2px 3px 0px 0px;
        @include button-control();
        &.ui-state-open {
            @include button-control-pushed();
        }

        &:after {
            position: absolute;
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 2px;

            content: "";

            z-index: -2;
        }
        &.ui-state-open:after {  // TODO: focused
            border: 1px dotted black;
        }

        a.start-button {
            &:before {
                content: url(images/win95.gif);
                float: left;
                margin: 0 3px;
            }
            font-weight: bold;
        }
    }
}

ul.menu.start-menu {
    padding-left: 21px + 2px;
    div.decorator {
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        width: 21px;
        background-color: rgb(0, 0, 120); // XXX
        z-index: 0;
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 21px;
            height: 108px;
            background-image: url(images/sprite.png);
            background-position: -224px 0;
            z-index: 1;
            content: "";
        }
    }

    & > li:not(.separator) {
        padding: 9px 16px 9px 32px + 9px; // XXX
        position: relative;
        &:before {
            position: absolute;
            left: 2px;
            top: 0;
            width: 32px;
            height: 32px;
            background-image: url(images/sprite.png);
            content: "";
        }
        &[data-icon="programs"  ]:before { background-position: (-32px * 0) (-32px * 0); }
        &[data-icon="favorites" ]:before { background-position: (-32px * 1) (-32px * 0); }
        &[data-icon="documents" ]:before { background-position: (-32px * 2) (-32px * 0); }
        &[data-icon="setting"   ]:before { background-position: (-32px * 3) (-32px * 0); }
        &[data-icon="find"      ]:before { background-position: (-32px * 4) (-32px * 0); }
        &[data-icon="help"      ]:before { background-position: (-32px * 5) (-32px * 0); }
        &[data-icon="run"       ]:before { background-position: (-32px * 6) (-32px * 0); }
        &[data-icon="logoff"    ]:before { background-position: (-32px * 0) (-32px * 1); }
        &[data-icon="shutdown"  ]:before { background-position: (-32px * 1) (-32px * 1); }
    }
}

div.notification-area {
    float: right;
    margin: 0 0 0 2px;
    padding: 5px 11px 3px;
    @include flat-sunken-control();
}

.window {
    @include raised-control();

    // 2px: default padding area
    padding: 2px+$title-height 2px 2px 2px;

    &.maximized {
        position: absolute;
        top: 0;
        width: 100%;
        border: 0;
        padding: $title-height 0 0 0;

        &:before {
            border: 0;
        }
    }

    &.has-menu {
        padding-top: 2px+$title-height+$menubar-height;
        .title-bar {
            margin-top: -($title-height+$menubar-height);
        }
    }
}

ul.menu-bar {
    display: block;

    @include box-sizing(border-box);
    margin: 1px 0;
    height: $menubar-height;
    width: 100%;

    & > li {
        list-style-type: none;
        display: block;
        float: left;
        padding: 0 7px;

        & > a {
            color: black !important;
            text-decoration: none;
            &:after {
                content: "(" attr(data-access-key) ")";
                text-transform: uppercase;
            }
        }
    }
}

ul.menu {
    display: block;
    @include box-sizing(border-box);
    @include raised-control();

    width: 182px; // XXX: arbitrary
    margin: 0; // strip default margin
    padding: 2px; // XXX: arbitrary

    position: absolute;
    & > li {
        list-style-type: none;
        display: block;
        padding: 2px 16px; // arbitrary

        &[data-popup]:after {
            content: "...";
        }

        &:not(.separator):hover {
            @include item-selected();
        }

        &.default {
            font-weight: bold;
        }

        &.disabled {
            color: $color-border-shadow;
            text-shadow: $color-border-highlight 1px 1px;
            &:hover {
                color: $color-border-shadow;
                text-shadow: none;
            }
        }

        &.separator {
            padding: 0;
            margin: 4px 0;
            width: 100%;

            border-top: 1px solid $color-border-shadow;
            border-bottom: 1px solid $color-border-highlight;
        }
    }
}

$title-button-group-width: 16px + 16px + 2px + 16px + 2px;

.title-bar {
    height: $title-height;
    margin-top: -$title-height;
    margin-bottom: 1px;
    padding-right: 2px;

    background-color: $color-gradient-active-title;

    position: relative;
    .title-icon {
        float: left;
        width: 16px;
        height: 16px;
        border: {
            top: 1px;
            bottom: 1px;
            left: 2px;
            right: 2px;
        }
        border-style: solid;
        border-color: $color-active-title;

        background-color: $color-active-title;
    }
    .title {
        @include box-sizing(border-box);
        padding-top: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        right: $title-button-group-width;

        font-weight: bold;
        color: white;

        @include linear-gradient-hor($color-active-title, $color-gradient-active-title);
    }
}

.title-button-group {
    float: right;

    padding: 2px 0;

    .title-button {
        float: left;

        // including borders
        width: 16px;
        height: 14px;

        @include button-control();

        &:not(.disabled):active {
            @include button-control-pushed();
        }

        &.minimize {
            @include title-button-image(0);
        }
        &.maximize {
            @include title-button-image(1);

            &.disabled {
                @include title-button-image(4);
            }
        }
        &.restore {
            @include title-button-image(2);
        }
        &.close {
            margin-left: 2px;
            @include title-button-image(3);
        }
    }
}

ul.listview, ul.desktop-listview {
    & > li {
        list-style-type: none;
    }
    &.listview-largeicon li {
        @include box-sizing(border-box);
        margin: 2px;
        width: 70px;
        height: 76px;
        padding-top: 32px + 4px;
        text-align: center;

        position: relative;
        &:before {
            position: absolute;
            top: 0;
            left: (70px - 32px) / 2;
            width: 32px;
            height: 32px;
            background-image: url(images/sprite.png);
            content: "";
        }

        @mixin large-icon-sprite($x) {
            background-position: (-32px * $x) (-32px * 2);
        }
        &:before {
            @include large-icon-sprite(2);
        }

        @mixin listview-large-icon($v, $x) {
            &[data-icon=#{$v}]:before {
                @include large-icon-sprite($x);
            }
        }
        @include listview-large-icon("my-computer", 0);
        @include listview-large-icon("my-networks", 1);
        @include listview-large-icon("folder", 2);
        @include listview-large-icon("recycling-bin", 3);
        @include listview-large-icon("internet-explorer", 6);

        span {
            padding: 2px;
        }

        &.selected span {
            border: 1px dotted rgb(255, 255, 127);  // inverted color
            @include item-selected();
        }
        &.selected:before {
            background-position-y: (-32px * 3);
        }
    }
}

ul.listview {
    @include sunken-control();
    background-color: white;
    &.listview-largeicon li {
        float: left;
    }
}

ul.desktop-listview {
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
    * {
        color: white;
    }
}

ul.toolbar {
    height: 16px + (2px + 1px) * 2;
    li {
        list-style-type: none;
        float: left;

        &:not(.separator):not(.combobox) {
            @include make-inner-box(3px);

            width: 16px + (2px + 1px) * 2;
            height: 16px + (2px + 1px) * 2;

            &:before {
                width: 16px;
                height: 16px;
                background-image: url(images/sprite.png);
            }
            &:not(.disabled):not(.selected) {
                &:hover {
                    @include flat-raised-control();
                }
                &:active {
                    @include flat-sunken-control();
                    &:before {
                        top: 4px;
                        left: 4px;
                        bottom: 2px;
                        right: 2px;
                    }
                }
            }
            &.selected {
                @include flat-sunken-control();
                background-image: url(images/checkerboard.gif);
                &:hover {
                    background-image: none;
                }
            }
        }

        &.separator {
            height: 100%;
            margin: 0 4px;

            border-left: 1px solid $color-border-shadow;
            border-right: 1px solid $color-border-highlight;
        }

        &[data-icon="show-desktop"  ]:before { background-position: (-16px * 4) (-16px * 2); }
        &[data-icon="ie5"           ]:before { background-position: (-16px * 5) (-16px * 2); }
        &[data-icon="outlook"       ]:before { background-position: (-16px * 6) (-16px * 2); }
        &[data-icon="github"        ]:before { background-position: (-16px * 6) (-16px * 3); }
    }
}

.edit {
    @include sunken-control();
    background-color: white;
    cursor: text;

}
