ul.menu-bar {
    & > li {
        padding: {
            top: 2px;
            bottom: 2px;
        }
        &:hover {
            @include flat-raised-control();
        }
        &.ui-state-open:hover {
            @include flat-sunken-control();
        }
        &:active {
            @include flat-sunken-control();
        }
    }
}
