@import "_common.scss";

$color-face: rgb(192, 192, 192);
$color-border-highlight: rgb(255, 255, 255);
$color-border-light: rgb(223, 223, 223);
$color-border-shadow: rgb(128, 128, 128);
$color-border-darkshadow: rgb(0, 0, 0);
$color-active-title: rgb(0, 0, 128);
$color-gradient-active-title: rgb(16, 132, 208);

@import "_win95_3d_control.scss";
@import "_win95_common.scss";

body {
    background-color: rgb(0, 128, 128);
}
