@import "_common.scss";

.windows-98 {

$color-face: rgb(192, 192, 192);
$color-border-highlight: rgb(255, 255, 255);
$color-border-light: rgb(223, 223, 223);
$color-border-shadow: rgb(128, 128, 128);
$color-border-darkshadow: rgb(0, 0, 0);
$color-active-title: rgb(0, 0, 128);
$color-gradient-active-title: rgb(16, 132, 208);
$color-desktop-background: rgb(0, 128, 128);

@import "_win95_3d_control.scss";
@import "_win95_common.scss";
@import "_win98_menu_animation.scss";

} // .windows-98
