@import "_common.scss";

// window border

$border1: rgb(255, 255, 255);
$border2: rgb(214, 214, 206);
$border3: rgb(132, 132, 132);
$border4: rgb(66, 66, 66);

$title-l: rgb(8, 33, 107);
$title-r: rgb(165, 206, 247);

$control-color: rgb(214, 214, 206);

.window {
    background-color: $control-color;

    border-width: 1px;
    border-style: solid;
    border-color: $border2 $border4 $border4 $border2;

    .window-inner {
        border-width: 1px;
        border-style: solid;
        border-color: $border1 $border3 $border3 $border1;

        padding: 2px;

        @include box-max-size();
    }
}

$title-button-group-width: 16px + 16px + 2px + 16px + 2px;

.title-bar {
    padding-left: 20px;
    padding-right: $title-button-group-width;

    height: 18px;

    .title-icon {
        float: left;
        width: 20px;
        height: 18px;
        margin-left: -20px;

        background-color: $title-l;
    }
    .title {
        float: left;
        height: 18px;
        width: 100%;
        overflow: hidden;

        font-family: "Tahoma", sans-serif;
        font-size: 9pt;
        font-weight: bold;
        color: white;

        cursor: default;

        @include linear-gradient-hor($title-l, $title-r);
    }
    .title-button-group {
        float: left;
        margin-right: -$title-button-group-width;
        width: $title-button-group-width;

        padding: 2px 0;

        background-color: $title-r;

        .title-button {
            float: left;

            border-width: 1px;
            border-style: solid;
            border-color: $border1 $border4 $border4 $border1;

            background-color: $control-color;

            .title-button-inner {
                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: $border1 $border3 $border3 $border1;

                width: 13px;
                height: 11px;
            }

            &:active {
                border-color: $border4 $border1 $border1 $border4;
                .title-button-inner {
                    border-width: 1px 0 0 1px;
                    border-color: $border3 $border1 $border1 $border3;
                }
            }

        }

        .title-button.minimize .title-button-inner {
            background-image: url(images/minimize.png);
        }
        .title-button.maximize {
            margin-right: 2px;
            .title-button-inner {
                background-image: url(images/maximize.png);
            }
        }
        .title-button.maximize.disabled .title-button-inner {
            background-image: url(images/maximize_dis.png);
        }
        .title-button.close .title-button-inner {
            background-image: url(images/close.png);
        }
    }
}

