@import "_common.scss";

$color-face: rgb(214, 214, 206);
$color-border-highlight: rgb(255, 255, 255);
$color-border-light: rgb(214, 214, 206);
$color-border-shadow: rgb(132, 132, 132);
$color-border-darkshadow: rgb(66, 66, 66);

@import "_win95_3d_control.scss";
@import "_win95_common.scss";

body {
    font-size: 12px;
    font-family: "굴림체", san-serif;
}

#taskbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 28px;

    background-color: $color-face;
    border-top: 1px solid $color-border-highlight;
}

div#start {
    float: left;
    margin: 2px;
    padding: 3px 3px 0;
    box-sizing: border-box;

    div {
        &:before {
            content: url(images/win95.gif);
            float: left;
            margin: 0 3px;
        }
        font-weight: bold;
    }
}

div#notification_area {
    float: right;
    margin: 2px;
    padding: 5px 11px 4px;
    @include border-sunken-outer();
}
